<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1>
    {{ shop.name }} | New Menu Item
</h1>

<form action="{{url_for('edit_shop_item', shop_id=shop.id, item_id=item.id)}}" method="post"  enctype=multipart/form-data>

    <p>Name</p>
    <input type="text" size="30" name="name" placeholder="{{item.name}}">

    <p>Description</p>
    <input type="text" size="30" name="description" placeholder="{{item.description}}">

    <p>Price</p>
    <input type="text" size="30" name="price" placeholder="{{item.price}}">

    <p>Quantity</p>
    <input type="text" size="30" name="quantity"  placeholder="{{item.quantity}}">

    <p><input type=file name=image>

    <p>Category</p>
    <select name="cat_id">
        <option value="" disabled="disabled" selected="selected">Please select a Category</option>
        <option value="" disabled="disabled">Clothing</option>
        <option value="1">Dresses</option>
        <option value="3">Children</option>
        <option value="12">Robes</option>
        <option value="" disabled="disabled">Books</option>
        <option value="2">Novel</option>
        <option value="8">Comics</option>
        <option value="9">Horror</option>
        <option value="" disabled="disabled">Home</option>
        <option value="4">Decor</option>
        <option value="5">Lighting</option>
        <option value="7">Kitchen</option>
        <option value="" disabled="disabled">Jewelery</option>
        <option value="6">Rings</option>
        <option value="10">Necklaces</option>
        <option value="11">Earnings</option>
        <option value="13">Bracelets</option>
    </select>
    <input type="submit" value="Edit">
    <a href="{{url_for('get_shop_items', shop_id=shop.id)}}">Cancel</a>
</form>

</body>
</html>