<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1>
    Edit {{ shop.name }}
</h1>

<form action="{{url_for('edit_shop', shop_id=shop.id)}}" method="post" enctype=multipart/form-data>

    <p>Name</p>
    <input type="text" size="30" name="name" placeholder="{{ shop.name }}">

    <p>Owner</p>
    <input type="text" size="30" name="owner" placeholder="{{ shop.owner }}">

    <p>Description</p>
    <input type="text" size="30" name="description" placeholder="{{ shop.description }}">

    <p><input type=file name=profile_pic>

    <p>Category</p>
    <select>
        <option name="cat_id" value="" disabled="disabled" selected="selected">Please select a Category</option>
        <option value="1">Books</option>
        <option value="2">Clothing</option>
        <option value="3">Jewelery</option>
        <option value="4">Home</option>
        <option value="5">Travel</option>
    </select>
    <input type="submit" value="create">
    <a href="{{url_for('get_shop', shop_id=shop.id)}}">Cancel</a>
</form>

</body>
</html>