<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1>
    {{ shop.name }}
</h1>
<br>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<br> <strong>{{message}}</strong>
{% endfor %}
{% endif %}
{% endwith %}
<a href="{{url_for('newShopItem', shop_id=shop.id)}}">New Item</a>

{% for item in items %}
<br>
<br>
<p>{{ item.name }}</p>
<p>{{ item.description}}</p>
<p>{{ item.price }}
<a href="{{url_for('editShopItem', shop_id=shop.id, item_id=item.id)}}">( Edit Item )</a>
<a href="{{url_for('deleteShopItem', shop_id=shop.id, item_id=item.id)}}">( Delete Item )</a>
</p>

<br>

{% endfor %}
</body>
</html>