<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1>
    Summery
</h1>
    <ul>
        <li><a href="/GetAllShops/JSON">GetAllShops()</a></li>
        <li><a href="/GetCategories/JSON">GetCategories()</a></li>
        <li><a href="/newShop/">new_shop()</a></li>
        <li><a href="/GetShop/3/JSON">GetShop()</a></li>
        <li><a href="/GetShopItems/3/JSON">GetShopItemsJSON(shop_id)</a></li>
        <li><a href="/GetItem/5/JSON">GetItemJSON(item_id)</a></li>
        <li><a href="/newShopItem/3/">newShopItem(shop_id)</a></li>
        <li><a href="/editShopItem/3/5/">editShopItem(shop_id, item_id)</a></li>
        <li><a href="/deleteShopItem/3/5">deleteShopItem(shop_id, item_id)</a></li>
    </ul>
</body>
</html>